<div class="row my-2">
    <div class="col">
        <div class="card p-2 shadow-sm">
            <div class="card-header bg-dark text-white">
                <i class="fs-4 bi bi-telephone-forward-fill"></i>
                <span>
                    {{_("Contact")}}
                </span>
            </div>
            <div class="card-body d-flex justify-content-between">
                <div>
                    <p>
                        <i class="bi bi-person"></i>
                        <b>{{post.created_by.get_full_name}}</b>
                    </p>
                    {% if post.created_by.profile.phone %}
                    <p>
                        <i class="bi bi-telephone-fill"></i>
                        <b>{{post.created_by.profile.phone.as_national}}</b>
                    </p>
                    {% else %}
                    <p>
                        <i class="bi bi-envelope-fill"></i>
                        <b>{{post.created_by.email}}</b>
                    </p>
                    {% endif %}
                    <small class="mt-2 text-muted">
                        {{_("Last seen: ")}} {{post.created_by.last_login|timesince}} {{_(" ago")}}
                    </small>
                </div>
            </div>
        </div>
    </div>
</div>