{% extends "core.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block base_core %}
<div class="content-section bg-light p-2 rounded">
    <div class="row">
        <div class="col-lg-6">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">{{_('Reset Password')}}</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group my-2">
                    <button class="btn btn-warning" type="submit">{{_('Submit')}}</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}