{% load i18n %}
<div class="pagination">
    <span class="step-links ">
        {% if page.has_previous %}
        <a class="btn btn-sm btn-warning" href="?page={{ page.previous_page_number }}{% if query %}&query={{query}}{% endif %}">
            <i class="bi bi-chevron-double-left"></i>
            {{_("Prev")}}
        </a>
        {% endif %}
        <span class="current">
            {{ page.number }} / {{ page.paginator.num_pages }}
        </span>
        {% if page.has_next %}
        <a class="btn btn-sm btn-warning" href="?page={{ page.next_page_number }}{% if query %}&query={{query}}{% endif %}">
            <i class="bi bi-chevron-double-right"></i>
            {{_("Next")}}
        </a>
        {% endif %}
    </span>
</div>